.se-builder-procedure-controls-td { 
  width: 1px !important; 
} 

.issue-container {
  display: none !important;
}
.signoff-container {
  display: none !important;
}

.cTextAreaClass {
  min-height: 10px !important;
  border-radius: 3px;
}

.boldTextBackground {
  padding-top: 5px;
  background-color: #9CA3AF;
}

.boldText {
  font-weight: bold;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: underline;
}

.labelCenter {
  text-align: center;
}

.labelWhite {
  color: white;
}

.labelRight {
  padding-right: 5px;
  text-align: right;
}

.labelLeft {
  padding-left: 5px;
  text-align: left;
}

/* TABLE */
.tableHeaderCells {
  border: 0px !important;
  color: white;
  text-shadow: 2px 3px 5px rgb(0 0 0 / 70%);
  font-weight: bold !important;
  background-color: #295064 !important;
  vertical-align: middle;
  font-weight: 300 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.082) !important;
  border-collapse: collapse;
  border-top: 1px #428bca !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.leftCornerRounded {
  border-top-left-radius: 10px !important;
  border-left: 1px #428bca;
}

.rightCornerRounded {
  border-top-right-radius: 10px !important;
  border-right: 1px #428bca;
}

table.formTable td:not(.table-button-container) {
  border-color: #2a2f38;
  border-spacing: 4px;
  height: 1px;
  padding: 0px;
  border-left: none !important;
  border-top: solid 1px rgba(49, 49, 49, 0.212);
  border-right: solid 1px rgba(49, 49, 49, 0.060) !important;
  border-bottom: none !important;
  background-color: #eceff1;
  font-weight: 400 /* !important */;
}

.italicLabel {
  font-style: italic;
}

.borderHide {
  border-style: none !important;
}